# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emory[Cc]aptures/
[Rr]ecordings/

# Unity generated
Assets/AssetStoreTools*/
ScriptAssemblies/
*.pidb
*.suo
*.user
*.userprefs
*.unityproj
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.tmp

# Crash reports
sysinfo.txt

# IDE
.vs/
.idea/
.vscode/
*.sln
*.csproj
*.sln.dotsettings
*.DotSettings.user
*.meta.tmp
[ALBURIOT/Assets/Imported Assets/]

# OS
.DS_Store
Thumbs.db

# Gradle / Android
.gradle/
gradle/
*.apk
*.keystore

# Logs
*.log

# Unity cache & artifacts
Library/ShaderCache/
Library/PackageCache/$*/

# Addressables build content (optional to ignore if built locally)
Assets/AddressableAssetsData/*/*.bin*
Assets/AddressableAssetsData/*/build*/*

# Lightmaps & GI cache (generated)
**/Lightmap-*/
**/LightingData.asset
**/ReflectionProbe-*/

# Rider plugin cache
.idea/.idea.*

# Unity Collaborate
**/.collab/

# Unity Plastic SCM
/**/.plastic/

# Crashlytics (if used)
crashlytics-build.properties
fabric.properties

docs/
